style 
  include ../../public/css/main.css
header.header-main
  h2.main-main-title SHIFTZ
  div.nav-right
    ul.nav-items-right

      li
        p
          a(href="/myShiftz") My Shiftz
      li
        p How you feelin'?
      
      if (!user)
        li
          p 
            a(href="/auth/signUp") Signup
        li
          p 
            a(href="/auth/login") Login
      else 
        li
          p
            a(href='/auth/logout') Logout