style 
  include ../../public/css/main.css
header.header-main
  h2.main-main-title 
   a(href="/") SHIFTZ
  div.nav-right
    ul.nav-items-right
    
      li
        p
          a(href="/") Home
      li
        p How you feelin'?

      li
        p 
          a(href="/auth/logout") Logout